

.box1{
    background-color: rgb(9, 201, 191);
}

.box2{
    background-color: #e92fe0;
}

.box3{
    background-color: rgb(77, 202, 60);
}

.box4{
    background-color: rgb(44, 15, 15);
}

.box5{
    background-color: rgb(118, 70, 133);
}

.box6{
    background-color: rgb(50, 103, 146);
}

.box7{
    background-color: rgb(63, 35, 189);
}

.box8{
    background-color: rgb(66, 77, 68);
}